<#
    // The namespace the generated code is placed in
    Namespace   = "WordFinder"         ;   

    Model = new ClassDefinition[]
    {
    };

#>
<#@ include file="$(SolutionDir)\packages\T4IncludeWPF.1.0.1\T4\RoutedEvents.ttinclude" #>
